<mat-card-title class="roundedwithboxshadow" style="margin-top: 20px; margin-bottom: 20px; font-size: large; text-align: center;">
    Categories
</mat-card-title>
<div class="row w-100" *ngIf="showCategories">
    <div class="col-sm-12" *ngFor="let element of menuCategories">
        <mat-card class="roundedwithboxshadow" >
                <div class="button-row">
                    <button mat-raised-button color="accent" (click)="selectedCategory(element)">
                       {{ element }}
                    </button>
                </div>     
        </mat-card>
    </div>
    <button class="btn btn-primary upload-kot-btn" (click)="openUploadKot()" >
      ↑ K
    </button>
     <button class="btn btn-primary view-kot-btn" (click)="openViewAllKot()">
      ↑ V
    </button>
</div>



<!-- 

<div class="row w-100" *ngIf="showOutletData" style="margin-bottom: 20px; margin-top: 20px; padding: 5px;">
    <div class="col-sm-12" *ngFor="let element of outletList">
        <mat-card class="roundedwithboxshadow">
            <div style="margin-top: 10px; margin-bottom: 20px;" (click)="outletSelected(element)"> {{ element.Name }}
            </div>
        </mat-card>
    </div>
    <div class="col-sm-12">
        <mat-card class="stockdiv">
            <div style="margin-top: 10px; margin-bottom: 20px;" (click)="stockList(element)">Stock List </div>
        </mat-card>
    </div>
</div> -->