.row.w-100 {
  padding: 0 6px;
  margin: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.roundedwithboxshadow {
  background: #4a90e2;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 6px;
  color: #fff;

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .outlet-name {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }

  .button-row {
    display: flex;
    justify-content: space-between; // push buttons to edges
    align-items: center;

    button {
      width: 100%;
      min-width: 200px;
      font-size: 1.5rem;
      font-weight: 400;
      border-radius: 8px;
      color: #fff;
    }

    // override Material default tones for better contrast
    .mat-primary {
      background-color: #1976d2;
    }

    .mat-accent {
      background-color: #ff9800;
    }
  }
}

.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.upload-kot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .view-kot-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }