/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


button:disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
  border: 1px solid #aaa !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Remove grey background from mat-form-field fill */
.mat-mdc-form-field.mat-form-field-appearance-fill
  .mdc-text-field--filled {
    background-color: transparent !important;
}


.title {
    padding: 0 6px 0 10px;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    text-align: center;
    background-color: lightgreen;
}


.back-title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: large;
  color: #fff;
  background-color: blueviolet;

  display: flex;
  align-items: center;
  gap: 8px;   /* spacing between back button and title */
}